<div class="jumbotron">
  <h1>Welcome to the TNL Distribution Container App</h1>

  <p class="lead">
    Manage TNL Distribution containers
  </p>

  <p><%= link_to "Sign in now!", signin_path, class: "btn btn-lg btn-primary" %></p>
</div>

