<% provide(:title, 'Edit comment') %>
<div class="page-header">
  <h3><i class="fa fa-user"></i> Update comment</h3>
</div>

<div class="row">
    <div class="col-lg-6">
      <%= bootstrap_form_for(@comment) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">        
            <%= f.text_field :comment_description %>
          </div>
          <div class="panel-footer text-right">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
            <%= link_to "Cancel", comments_path, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
  </div>
</div>  
