<% provide(:title, 'All users') %>
<div class="page-header">
  <h3><i class="fa fa-users"></i> All users</h3>
</div>

<table class="table table-striped" id="users">
<thead>	
	<tr>
		<th>User Name</th>
		<th>Email</th>
	</tr>
</thead>
<tbody>
<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name, user %></td>
		<td><%= user.email %></td>
	</tr>
<% end %>
</tbody>
</table>