<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @contact.first_name %></h1>
    <p>
      Your container is now empty and ready for pickup<br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>