<nav class="sidebar-nav">
  <ul id="side-menu">
    <li class="active">
      <a href="#">
        <span class="sidebar-nav-item-icon fa fa-cube fa-lg"></span>
        <span class="sidebar-nav-item">Container</span>
        <span class="fa arrow"></span>
      </a>
      <ul>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-cubes"></span>
            Show All
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-plus"></span>
            New
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/issues">
            <span class="sidebar-nav-item-icon fa fa-pencil-square-o"></span>
            Update
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/archive/gh-pages.zip">
            <span class="sidebar-nav-item-icon fa fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <span class="sidebar-nav-item-icon fa fa-users fa-lg"></span>
        <span class="sidebar-nav-item">Users</span>
        <span class="fa arrow"></span>
      </a>
      <ul>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-users"></span>
            Show All
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-plus"></span>
            New
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/issues">
            <span class="sidebar-nav-item-icon fa fa-pencil-square-o"></span>
            Update
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/archive/gh-pages.zip">
            <span class="sidebar-nav-item-icon fa fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <span class="sidebar-nav-item-icon fa fa-truck fa-lg"></span>
        <span class="sidebar-nav-item">Carriers</span>
        <span class="fa arrow"></span>
      </a>
      <ul>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-truck"></span>
            Show All
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu">
            <span class="sidebar-nav-item-icon fa fa-plus"></span>
            New
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/issues">
            <span class="sidebar-nav-item-icon fa fa-pencil-square-o"></span>
            Update
          </a>
        </li>
        <li>
          <a href="https://github.com/onokumus/metisMenu/archive/gh-pages.zip">
            <span class="sidebar-nav-item-icon fa fa-trash-o"></span>
            Delete
          </a>
        </li>
      </ul>
    </li>
  </ul> <!-- end of side menu -->
</nav>
<!-- end of sidebar partial -->